<!DOCTYPE html>
<html>
	<head>
		<title>yui3-ujs demo</title>
		<script type="text/javascript" charset="utf-8" src="http://yui.yahooapis.com/<%= params[:version] %>/build/yui/yui.js"></script>
		<script src="/vendor/rails.js" type="text/javascript"></script>
	</head>
	<body class="yui3-skin-sam yui-skin-sam">
		<h1>yui3-ujs</h1>
		<a href="/demo">Demo</a><br>
		<a href="/test">Unit Tests</a>
	</body>
</html>
