<!DOCTYPE html>
<html>
	<head>
		<title>yui3-ujs demo</title>
	</head>
	<body>
		Redirecting...
		<script type="text/javascript">
			window.setTimeout(function() {
				window.location = '/demo';
			}, 2000);
		</script>
	</body>
</html>
